@model dynamic

@{
    ViewBag.Title = "Bank Accounts";
    Layout = ViewBag.FinanceLayoutPath;
}
<div class="ui attached page segment" style="min-height: 100%;padding:3em;">
    <div class="ui huge header">Add a New Journal Entry</div>
    <div class="ui divider"></div>

    <div class="ui form segment" style="width:700px;">
        <div class="three fields">
            <div class="field">
                <label for="ValueDateTextBox">
                    Value Date
                </label>
                <input id="ValueDateTextBox" class="date" type="text">
            </div>
            <div class="field">
                <label for="BookDateTextBox">
                    Book Date
                </label>
                <input id="BookDateTextBox" class="date" type="text">
            </div>
            <div class="field">
                <label for="ReferenceNumberInputText">
                    Reference Number
                </label>
                <input id="ReferenceNumberInputText" type="text">
            </div>
        </div>
    </div>

    <input id="TransactionGridViewHidden" type="hidden">

    <div style="width: 100%; overflow: auto;">
        <table id="TransactionGridView" class="ui table segment" style="min-width: 1200px; max-width: 2000px;">
            <thead>
                <tr>
                    <th style="width: 9%">
                        <label for="StatementReferenceInputText">
                            Statement Reference
                        </label>
                    </th>
                    <th scope="col" style="width: 7%;">
                        <label for="AccountNumberInputText">
                            Account Number
                        </label>
                    </th>
                    <th style="width: 15%;">
                        <label for="AccountSelect">
                            Account
                        </label>
                    </th>
                    <th style="width: 8%;">
                        <label for="CashRepositorySelect">
                            Cash Repository
                        </label>
                    </th>
                    <th style="width: 8%;">
                        <label for="CurrencySelect">
                            Currency
                        </label>
                    </th>
                    <th class="text-right" style="width: 10%;">
                        <label for="DebitInputText">
                            Debit
                        </label>
                    </th>
                    <th class="text-right" style="width: 9%;">
                        <label for="CreditInputText">
                            Credit
                        </label>
                    </th>
                    <th class="text-right" style="width: 7%;">
                        <label for="ERInputText">
                            ER
                        </label>
                    </th>
                    <th class="text-right" style="width: 9%;">
                        <label for="LCDebitInputText">
                            LC Debit
                        </label>
                    </th>
                    <th class="text-right" style="width: 9%;">
                        <label for="LCCreditInputText">
                            LC Credit
                        </label>
                    </th>
                    <th style="width: 9%;">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="ui form footer-row">
                    <td>
                        <input id="StatementReferenceInputText" title="Ctrl + Alt +S" type="text">
                    </td>
                    <td>
                        <input id="AccountNumberInputText" title="Ctrl + Alt + T" type="text">
                    </td>
                    <td>
                        <select id="AccountSelect" title="Ctrl + Alt + A"></select>
                    </td>
                    <td>
                        <select id="CashRepositorySelect"></select>
                    </td>
                    <td>
                        <select id="CurrencySelect"></select>
                    </td>
                    <td>
                        <input id="DebitInputText" class="text-right currency" title="Ctrl + Alt + D" type="text">
                    </td>
                    <td>
                        <input id="CreditInputText" class="text-right currency" title="Ctrl + Alt + C" type="text">
                    </td>
                    <td>
                        <input id="ERInputText" class="text-right decimal" type="text">
                    </td>
                    <td>
                        <input id="LCDebitInputText" class="text-right currency" readonly="readonly" title="Ctrl + Alt + D" type="text">
                    </td>
                    <td>
                        <input id="LCCreditInputText" class="text-right currency" readonly="readonly" title="Ctrl + Alt + C" type="text">
                    </td>
                    <td>
                        <input id="AddInputButton" class="ui small blue button" title="Ctrl + Return" value="Add" type="button">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ui form segment" style="width: 700px;">
        <div class="field">
            <label for="CostCenterSelect">
                Cost Center
            </label>
            <select id="CostCenterSelect"></select>
        </div>
        <div class="field">
            <label for="DebitTotalTextBox">
                Debit Total
            </label>
            <input id="DebitTotalTextBox" readonly="readonly" class="text-right currency" type="text">
        </div>
        <div class="field">
            <label for="CreditTotalLiteral">
                Credit Total
            </label>
            <input id="CreditTotalTextBox" readonly="readonly" class="text-right currency" type="text">
        </div>
        <div class="ui buttons">
            <button id="PostButton" type="button"  class="ui small positive button">
                Post Transaction
            </button>
            <a href="/dashboard/finance/tasks/journal/entry" onclick="return (confirm('Are you sure?'))" class="ui small blue button">Return Back</a>            
        </div>
    </div>
    <span id="ErrorLabelBottom" class="big error"></span>
</div>

<script>
    var addInputButton = $("#AddInputButton");
    var accountNumberInputText = $("#AccountNumberInputText");
    var accountSelect = $("#AccountSelect");
    var attachmentDiv = $("#AttachmentDiv");
    var attachmentLabel = $("#AttachmentLabel");

    var cashRepositorySelect = $("#CashRepositorySelect");
    var costCenterSelect = $("#CostCenterSelect");
    var creditInputText = $("#CreditInputText");

    var creditTotalTextBox = $("#CreditTotalTextBox");
    var currencySelect = $("#CurrencySelect");

    var debitInputText = $("#DebitInputText");
    var debitTotalTextBox = $("#DebitTotalTextBox");

    var errorLabelBottom = $("#ErrorLabelBottom");
    var erInputText = $("#ERInputText");

    var lcCreditInputText = $("#LCCreditInputText");
    var lcDebitInputText = $("#LCDebitInputText");

    var postButton = $("#PostButton");

    var referenceNumberInputText = $("#ReferenceNumberInputText");

    var statementReferenceInputText = $("#StatementReferenceInputText");

    var transactionGridView = $("#TransactionGridView");
    var transactionGridViewHidden = $("#TransactionGridViewHidden");

    var valueDateTextBox = $("#ValueDateTextBox");
    var bookDateTextBox = $("#BookDateTextBox");

    //Variables
    var accountNumber = "";
    var account = "";
    var attachments;

    var cashRepositoryCode = "";
    var costCenterId = 0;
    var credit = 0;
    var currencyCode = '';

    var debit = 0;

    var lcCredit = 0;
    var lcDebit = 0;
    var er = 0.00;

    var valueDate;
    var bookDate;

    var url = "";
    var data = "";
    var referenceNumber = "";
    var statementReference = "";

    function addLoader(el) {
        el.addClass("loading");
    };

    function removeLoader(el) {
        el.removeClass("loading");
    };


    //Utilities
    var addShortcuts = function () {
        "use strict";

        shortcut.add("CTRL+ALT+T", function () {
            $('#AccountNumberTextBox').focus();
        });

        shortcut.add("CTRL+ALT+A", function () {
            $('#AccountSelect').focus();
        });

        shortcut.add("CTRL+ALT+S", function () {
            $('#StatementReferenceTextBox').focus();
        });

        shortcut.add("CTRL+ALT+D", function () {
            $('#lcDebitTextBox').focus();
        });

        shortcut.add("CTRL+ALT+C", function () {
            $('#lcCreditTextBox').focus();
        });

        shortcut.add("CTRL+RETURN", function () {
            $('#AddInputButton').click();
        });
    };


    function createCascadingPair(select, input) {
        input.blur(function () {
            selectDropDownListByValue(this.id, select.attr("id"));
        });

        select.change(function () {
            input.val(select.getSelectedValue());
        });
    };

    var selectDropDownListByValue = function (textBoxId, dropDownListId) {
        var listControl = $("#" + dropDownListId);
        var textBox = $("#" + textBoxId);
        var selectedValue = textBox.val();
        var exists;

        if (isNullOrWhiteSpace(textBox.val())) {
            return;
        };

        if (listControl.length) {
            listControl.find('option').each(function () {
                if (this.value === selectedValue) {
                    exists = true;
                }
            });
        }

        if (exists) {
            listControl.val(selectedValue).trigger('change');
        } else {
            textBox.val('').trigger('change');
        }

        triggerChange(dropDownListId);
    };


    //Page Load Event
    $(document).ready(function () {
        "use strict";
        addShortcuts();
        initializeAjaxData();
        createCascadingPair(accountSelect, accountNumberInputText);
    });

    function initializeAjaxData() {
        loadAccounts();
        loadCostCenters();
    };

    function loadAccounts() {
        function request() {
            url = "/dashboard/finance/chart-of-accounts/list";
            return window.getAjaxRequest(url);
        };

        var ajax = request();

        ajax.success(function (response) {
            var options = "<option>Select</option>";

            $.each(response, function () {
                var option = "<option value='{accountNumber}' data-account-master-id='{accountMasterId}' data-currency-code='{currencyCode}'>{accountName}</option>";
                option = option.replace("{accountNumber}", this.AccountNumber);
                option = option.replace("{accountName}", this.AccountName);
                option = option.replace("{accountMasterId}", this.AccountMasterId);
                option = option.replace("{currencyCode}", this.CurrencyCode);

                options += option;
            });

            accountSelect.html(options);
        });

        ajax.fail(function (xhr) {
            alert(JSON.stringify(xhr));
        });
    };

    function loadCashRepositories() {
        var url = "/api/forms/finance/cash-repositories/lookup-fields";
        window.ajaxDataBind(url, cashRepositorySelect, null, null, null, null, "Key", "Value");
    };

    function loadCostCenters() {
        url = "/api/forms/finance/cost-centers/display-fields";
        window.ajaxDataBind(url, costCenterSelect, null, null, null, null, "Key", "Value");
    };

    function loadCurrencies() {
        url = "/api/forms/finance/currencies/lookup-fields";
        window.ajaxDataBind(url, currencySelect, null, null, null, null, "Key", "Key");
    };

    //Control Events
    accountSelect.change(function () {
        accountNumberInputText.val(accountSelect.getSelectedValue());
    });

    function isCashAccount() {
        var selectedAccount = accountSelect.find("option:selected");
        var accountMasterId = parseInt(selectedAccount.attr("data-account-master-id"));
        if (accountMasterId === 10101) {
            return true;
        };

        return false;
    };

    accountSelect.blur(function () {
        function loadCurrency(selectedAccount) {
            var currencyCode = selectedAccount.attr("data-currency-code");

            var option = "<option value='{currencyCode}'>{currencyCode}</option>";
            option = option.replace(/{currencyCode}/g, currencyCode);

            currencySelect.html(option);
        };

        var selectedAccount = accountSelect.find("option:selected");
        loadCurrency(selectedAccount);


        //Cash Account
        if (isCashAccount()) {
            loadCashRepositories();
            loadCurrencies();
        } else {
            cashRepositorySelect.html("");
        };
    });

    addInputButton.click(function () {
        statementReference = statementReferenceInputText.val();
        accountNumber = accountNumberInputText.val();
        account = accountSelect.getSelectedText();
        cashRepositoryCode = cashRepositorySelect.getSelectedValue();

        currencyCode = currencySelect.getSelectedValue();

        debit = parseFloat(debitInputText.val() || 0);
        credit = parseFloat(creditInputText.val() || 0);

        er = parseFloat(erInputText.val() || 0);

        lcDebit = parseFloat(lcDebitInputText.val() || 0);
        lcCredit = parseFloat(lcCreditInputText.val() || 0);

        if (window.isNullOrWhiteSpace(statementReference)) {
            window.makeDirty(statementReferenceInputText);
            return;
        };

        window.removeDirty(statementReferenceInputText);

        if (window.isNullOrWhiteSpace(accountNumberInputText.val())) {
            window.makeDirty(accountNumberInputText);
            return;
        };

        window.removeDirty(accountNumberInputText);

        if (window.isNullOrWhiteSpace(accountSelect.getSelectedText())) {
            window.makeDirty(accountSelect);
            return;
        };

        window.removeDirty(accountSelect);


        if (er <= 0) {
            window.makeDirty(erInputText);
            return;
        };

        window.removeDirty(erInputText);

        if ((debit > 0 && credit > 0) || (debit === 0 && credit === 0)) {
            window.makeDirty(debitInputText);
            window.makeDirty(creditInputText);
            return;
        };

        if ((lcDebit > 0 && lcCredit > 0) || (lcDebit === 0 && lcCredit === 0)) {
            window.makeDirty(lcDebitInputText);
            window.makeDirty(lcCreditInputText);
            return;
        };

        if (lcDebit < 0) {
            window.makeDirty(lcDebitInputText);
            return;
        };

        if (lcCredit < 0) {
            window.makeDirty(lcCreditInputText);
            return;
        };

        window.removeDirty(debitInputText);
        window.removeDirty(creditInputText);
        window.removeDirty(lcDebitInputText);
        window.removeDirty(lcCreditInputText);
        window.removeDirty(cashRepositorySelect);

        if (cashRepositorySelect.find("option").size() > 1 && window.isNullOrWhiteSpace(cashRepositorySelect.getSelectedValue())) {
            $.notify("Invalid cash repository specified.");
            return;
        };

        var isCash = isCashAccount();

        if (isCash) {
            if (window.isNullOrWhiteSpace(cashRepositoryCode)) {
                window.makeDirty(cashRepositorySelect);
                $.notify("Invalid cash repository specified.", "error");
                return;
            };
        } else {
            if (!window.isNullOrWhiteSpace(cashRepositoryCode)) {
                $.notify("Invalid cash repository specified.");
                window.makeDirty(cashRepositorySelect);
                return;
            };

            addLoader(transactionGridView);
            addRow(statementReference, accountNumber, account, "", currencyCode, debit, credit, er, lcDebit, lcCredit, false);
            return;
        };


        addLoader(transactionGridView);


        if (debit > 0) {
            addRow(statementReference, accountNumber, account, cashRepositoryCode, currencyCode, debit, credit, er, lcDebit, lcCredit, true);
            return;
        } else {
            if (isCash) {
                var ajaxHasBalance = hasBalance(cashRepositoryCode, currencyCode, credit);

                ajaxHasBalance.fail(function (xhr) {
                    removeLoader(transactionGridView);
                    logAjaxErrorMessage(xhr);
                });

                ajaxHasBalance.success(function (response) {
                    var hasBalance = response;

                    if (!hasBalance) {
                        $.notify("Not enough balance in the cash repository " + cashRepositoryCode, "error");
                        removeLoader(transactionGridView);
                        window.makeDirty(cashRepositorySelect);
                        return;
                    };

                    addRow(statementReference, accountNumber, account, cashRepositoryCode, currencyCode, debit, credit, er, lcDebit, lcCredit, true);
                });
            };
        };
    });

    var addRow = function (statementReference, accountNumber, account, cashRepository, currencyCode, debit, credit, er, lcDebit, lcCredit, isCash) {
        var grid = transactionGridView;
        var rows = grid.find("tbody tr:not(:last-child)");
        var duplicateEntry = false;

        if (!currencyCode) {
            window.makeDirty(currencySelect);
            removeLoader(transactionGridView);
            return;
        };

        window.removeDirty(currencySelect);

        rows.each(function () {
            var row = $(this);

            if (!isCash) {
                if (window.getColumnText(row, 1) === accountNumber) {
                    $.notify("Duplicate entry.");
                    window.makeDirty(accountNumberInputText);
                    duplicateEntry = true;

                    removeLoader(transactionGridView);
                    return;
                };
            };

            if (isCash) {
                if (window.getColumnText(row, 3) === cashRepository) {
                    $.notify("Duplicate entry");
                    window.makeDirty(accountNumberInputText);
                    duplicateEntry = true;
                };
            };
        });

        if (duplicateEntry) {
            removeLoader(transactionGridView);
            return;
        };

        var html = "<tr class='grid2-row'><td>" + statementReference + "</td><td>" + accountNumber + "</td><td>" + account + "</td><td>" + cashRepository + "</td><td>" + currencyCode + "</td><td class='text-right'>" + window.getFormattedNumber(debit) + "</td><td class='text-right'>" + window.getFormattedNumber(credit) + "</td>"
            + "<td class='text-right'>" + window.getFormattedNumber(er) + "</td><td class='text-right'>" + window.getFormattedNumber(lcDebit) + "</td><td class='text-right'>" + window.getFormattedNumber(lcCredit) + "</td>"
            + "<td><a class='pointer' onclick='removeRow($(this));'><i class='ui delete icon'></i></a><a class='pointer' onclick='toggleDanger($(this));'><i class='ui pointer check mark icon'></a></i><a class='pointer' onclick='toggleSuccess($(this));'><i class='ui pointer thumbs up icon'></i></a></td></tr>";
        grid.find("tr:last").before(html);

        summate();

        lcDebitInputText.val("");
        lcCreditInputText.val("");
        debitInputText.val("");
        creditInputText.val("");

        creditInputText.prop("disabled", false);

        removeLoader(transactionGridView);
        window.repaint();
        statementReferenceInputText.focus();
    };

    attachmentLabel.on("click", function () {
        attachmentDiv.toggle(500);
    });

    currencySelect.blur(function () {
        var ajaxGetExchangeRate = getExchangeRate(currencySelect.getSelectedValue());

        ajaxGetExchangeRate.done(function (response) {
            erInputText.val(response);
        });

        ajaxGetExchangeRate.fail(function (xhr) {
            window.logAjaxErrorMessage(xhr);
        });
    });

    debitInputText.blur(function () {
        debit = parseFloat(debitInputText.val() || 0);

        if (debit > 0) {
            creditInputText.prop("disabled", true);
            erInputText.focus();
            return;
        };

        creditInputText.prop("disabled", false);
    });

    debitInputText.keyup(function () {
        UpdateLocalCurrencies();
    });

    creditInputText.keyup(function () {
        UpdateLocalCurrencies();
    });

    erInputText.keyup(function () {
        UpdateLocalCurrencies();
    });

    function UpdateLocalCurrencies() {
        er = parseFloat(erInputText.val() || 0);

        if (er > 0) {
            lcDebitInputText.val(parseFloat(debitInputText.val() || 0) * er);
            lcCreditInputText.val(parseFloat(creditInputText.val() || 0) * er);
        };
    };

    postButton.click(function () {
        valueDate = window.parseLocalizedDate(valueDateTextBox.val());
        bookDate = window.parseLocalizedDate(bookDateTextBox.val());
        referenceNumber = referenceNumberInputText.getSelectedValue();
        costCenterId = parseInt(costCenterSelect.getSelectedValue() || 0);

        if (validate()) {
            post();
        };
    });

    var post = function () {
        function request(model) {
            var url = "/dashboard/finance/tasks/journal/entry/new";
            var data = JSON.stringify(model);

            return window.getAjaxRequest(url, "POST", data);
        };

        var model = getModel();

        var ajax = request(model);

        ajax.success(function (response) {
            var id = response;
            window.location = "/Modules/Finance/Confirmation/JournalVoucher.mix?TranId=" + id;
        });

        ajax.fail(function (xhr) {
            window.logAjaxErrorMessage(xhr);

            var errorMessage = window.getAjaxErrorMessage(xhr);
            errorLabelBottom.html(errorMessage);
        });
    };

    function getModel() {
        var details = [];

        transactionGridView.find("tbody tr:not(:last-child)")
            .each(function () {
                var row = $(this);
                var statementReference = row.find("td:nth-child(1)").text();
                var accountNumber = row.find("td:nth-child(2)").text();
                var account = row.find("td:nth-child(3)").text();
                var cashRepositoryCode = (row.find("td:nth-child(4)").text() || null);
                var currencyCode = row.find("td:nth-child(5)").text();
                var debit = window.parseFloat2(row.find("td:nth-child(6)").text());
                var credit = window.parseFloat2(row.find("td:nth-child(7)").text());
                var er = window.parseFloat2(row.find("td:nth-child(8)").text());
                var lcDebit = window.parseFloat2(row.find("td:nth-child(9)").text());
                var lcCredit = window.parseFloat2(row.find("td:nth-child(10)").text());


                details.push({
                    Account: account,
                    AccountNumber: accountNumber,
                    CashRepositoryCode: cashRepositoryCode,
                    Credit: credit,
                    CurrencyCode: currencyCode,
                    Debit: debit,
                    ExchangeRate: er,
                    LocalCurrencyCredit: lcCredit,
                    LocalCurrencyDebit: lcDebit,
                    StatementReference: statementReference
                });
            });

        var model = {
            ValueDate: valueDate,
            BookDate: bookDate,
            ReferenceNumber: referenceNumber,
            CostCenterId: costCenterId,
            Details: details,
            Attachemnts: []
        };

        return model;
    };

    var validate = function () {
        errorLabelBottom.html("");

        window.removeDirty(valueDateTextBox);
        window.removeDirty(referenceNumberInputText);
        window.removeDirty(statementReferenceInputText);
        window.removeDirty(accountNumberInputText);
        window.removeDirty(accountSelect);
        window.removeDirty(cashRepositorySelect);
        window.removeDirty(lcDebitInputText);
        window.removeDirty(lcCreditInputText);
        window.removeDirty(costCenterSelect);

        if (!window.isDate(valueDate)) {
            window.makeDirty(valueDateTextBox);
            errorLabelBottom.html("Invalid Date");
            return false;
        };

        if (parseInt(costCenterSelect.getSelectedValue() || 0) <= 0) {
            window.makeDirty(costCenterSelect);
            errorLabelBottom.html("Invalid cost center.");
            return false;
        };


        if (transactionGridView.find("tr").length === 2) {
            errorLabelBottom.html("Gridview is empty.");
            return false;
        };

        var rows = transactionGridView.find("tr:not(:first-child):not(:last-child)");

        if (rows.each(function () {
            var row = $(this);

            debit = window.parseFloat2(window.getColumnText(row, 8));
            credit = window.parseFloat2(window.getColumnText(row, 9));

            if (debit > 0 && credit > 0) {
                window.addDanger(row);
                return false;
        };

            if (debit < 0 || credit < 0) {
                window.addDanger(row);
                return false;
        };

            if (debit === 0 && credit === 0) {
                window.addDanger(row);
                return false;
        };

            return true;
        }) === false) {
            return false;
        };

        summate();

        if (parseFloat(debitTotalTextBox.val() || 0) !== parseFloat(creditTotalTextBox.val() || 0)) {
            $.notify("Referencing sides are not equal.", "error");
            return false;
        };

        return true;
    };

    //GridView Data Function

    //GridView Manipulation

    //Ajax Requests
    function getExchangeRate(currencyCode) {
        url = "/dashboard/finance/currency/exchange-rate/of/{currencyCode}";
        url = url.replace("{currencyCode}", currencyCode);

        return window.getAjaxRequest(url);
    };

    function hasBalance(cashRepositoryCode, currencyCode, amount) {
        url = "/dashboard/finance/cash-repository/check-balance/{cashRepositoryCode}/{currencyCode}/{amount}";
        url = url.replace("{cashRepositoryCode}", cashRepositoryCode);
        url = url.replace("{currencyCode}", currencyCode);
        url = url.replace("{amount}", credit);


        return window.getAjaxRequest(url);
    };

    //Boolean Validation

    //Validation Helper Functions

    //Logic & Validation
    var summate = function () {
        var debitTotal = parseFloat(window.sumOfColumn("#" + transactionGridView.attr("id"), 8) || 0);
        var creditTotal = parseFloat(window.sumOfColumn("#" + transactionGridView.attr("id"), 9) || 0);

        debitTotalTextBox.val(debitTotal);
        creditTotalTextBox.val(creditTotal);
    };


    $(document).ajaxStop(function () {
        var importModel = window.localStorage.getItem('ImportModel');
        localStorage.removeItem('ImportModel');

        if (!importModel) {
            return;
        };

        importModel = JSON.parse(importModel);


        valueDateTextBox.val(importModel.valueDate);
        bookDateTextBox.val(importModel.bookDate);
        referenceNumberInputText.val(importModel.referenceNumber);
        costCenterSelect.val(importModel.costCenter.toString());

        $.each(importModel.table, function (i, v) {
            addRow(v[0], v[1], v[2], v[3], v[4], v[5], v[6], v[7], v[8], v[9]);
        });
    });

    window.overridePath = "/dashboard/finance/tasks/journal/entry";
</script>